# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.env.local

# Logs
*.log
emotion_detector*.log

# Debug
debug/

# Firebase credentials (only include templates)
firebase-credentials.json

# Local database
*.db
*.sqlite3

# Saved models and cache
saved_models/
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock 